<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <title>Category</title>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div th:replace="fragments/navbar"></div>
<div class="content-wrapper">
    <section class="content">
        <div class="col-md-5">
            <p class="margin">Category</p>
            <div class="input-group input-group-sm">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                      <button type="button" class="btn btn-info btn-flat">Save</button>
                </span>
            </div>
        </div>



    </section>
</div>
<div th:replace="fragments/footer"></div>

</body>
</html>